@model Exam1.Models.MarketModelView

@{
    if (Model.User == null)
    {
        Layout = "~/Views/Shared/Unauthorized.cshtml";
    }
    ViewBag.Title = "Index";
}

<div class="page-header">
    @if (Model.User != null)
    {
        <h2>Welcome @Model.User.Username!</h2>
    }
    else
    {
        <h2>Welcome!</h2>
    }
</div>



<form class="form-inline" action="/customer/index">
    <input type="hidden" name="Category" value="@Model.Category" />
    <div class="form-group ">
        <input type="text" name="SearchRequest" value="@Model.SearchRequest" class="form-control rounded" />
    </div>
    <button type="submit" value="search" class="btn btn-primary">Search</button>
</form>


<h4>Products</h4>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <div class="list-group">
                @if (Model.Category == "all")
                {@Html.ActionLink("all", "Index", "Customer", new { Category = "all" }, new { @class = "list-group-item active" })}
            else
            {@Html.ActionLink("all", "Index", "Customer", new { Category = "all" }, new { @class = "list-group-item" })}
                @foreach (var category in Model.Categories)
                {
                    if (Model.Category == category)
                    {@Html.ActionLink(category, "Index", "Customer", new { Category = category }, new { @class = "list-group-item active" })}
                else
                {@Html.ActionLink(category, "Index", "Customer", new { Category = category }, new { @class = "list-group-item" })}
        }
            </div>
        </div>
        <div class="col-md-9">
            @if (Model.products.Any())
            {
                <div class="row">
                    @foreach (var product in Model.products)
                    {
                        <div class="row">
                            <div class="col-md-6 col-sm-7">
                                <h4>@product.Name</h4>
                                <p>@(product.Description.Length > 150 ? product.Description.Substring(0, 150) + "..." : product.Description)</p>
                            </div>
                            <div class="col-md-3 col-sm-3">
                                <ul style="list-style-type:none;">
                                    <li>@product.Price$</li>
                                    <li>@product.Seller.Username</li>
                                    <li>@product.TotalAmount left</li>
                                    @Html.ActionLink("buy", "Details", "Customer", new { product.Id }, new { @class = "btn btn-default" })
                                </ul>
                            </div>
                            <img class="col-md-3 col-sm-2 rounded d-inline-block" src="@product.Photo" alt="Alternate Text" />
                        </div>
                        <hr />
                    }
                </div>
            }
            else
            {
                <div class="alert alert-info" role="alert">There are no any suitable products, try to change search request</div>
            }
        </div>
    </div>
</div>

<div class="row">
    <div class="btn-group col-md-offset-5">
        @Html.PageLinks(Model.PageInfo, x => Url.Action("index", new { Page = x, Category = Model.Category, SearchRequest = Model.SearchRequest }))
    </div>
</div>


