@model Exam1.Models.Account

@{
    ViewBag.Title = "PersonalCabinet";
}

<h2>PersonalCabinet</h2>
@Html.ActionLink("Add new product","CreateProductInfo")


<div class="container">
    <div class="row">
        @for (int i = 0; i < 12; i++)
        {
            <div class="col-md-1" style="height:300px">
                <div style="margin:15px;height:@ViewBag.cValues[i].ToString()px;width:30px;bottom:30px" class="bg-primary"></div>
                <p style="bottom:0">@ViewBag.Categories[i]</p>
            </div>
        }
    </div>
</div>

<h4>Your auctions</h4>
<ul>
    @foreach (var product in Model.ProductsToSell.Where(p=>p.IsAuction=="auction"))
    {
        <li>@product.Name @Html.ActionLink("Update", "UpdateProductInfo", "Customer", new { product.Id }, null)@Html.ActionLink("Finish", "FinishAuction", "Customer", new { product.Id }, null)</li>
    }
</ul>

<h4>Your products</h4>
<ul>
    @foreach (var product in Model.ProductsToSell.Where(p => p.IsAuction != "auction"))
    {
        <li>@product.Name @Html.ActionLink("Update", "UpdateProductInfo", "Customer", new { product.Id }, null)@Html.ActionLink("Delete", "DeleteProductInfo", "Customer", new { product.Id }, null)</li>
    }
</ul>

<h4>Your bets</h4>
<ul>
    @foreach (var product in Model.AuctionLots)
    {
        <li>@product.Name @Html.ActionLink("Details", "Details", "Customer", new { product.Id }, null)@Html.ActionLink("Delete", "DeleteApplicant", "Customer", new { product.Id }, null)</li>
    }
</ul>
