@model Exam1.Models.Account

@{
    ViewBag.Title = "PersonalCabinet";
}

<h2>Personal Cabinet</h2>

@Html.ActionLink("Auctions", "PersonalCabinetAuctions")
@Html.ActionLink("Bets", "PersonalCabinetBets")

<div class="container">
    <div class="row">
        @for (int i = 0; i < 11; i++)
        {
            <div class="col-md-1 col-lg-1 col-sm-1 col-xs-1" style="height:300px">
                <div style="position:absolute; width:30px;bottom:30px;margin:15px;height:@ViewBag.cValues[i].ToString()px" class="bg-primary"></div>
                <p style="position: absolute; bottom: 0">@ViewBag.Categories[i]</p>
            </div>
        }
    </div>
</div>

@Html.ActionLink("Add new product", "CreateProductInfo")


<h4>Your products</h4>
@if (!Model.ProductsToSell.Where(p => p.IsAuction != "auction").Any())
{
    <p>You dont have any products to sell yet</p>
}
<div class="container">
    @foreach (var product in Model.ProductsToSell.Where(p => p.IsAuction != "auction"))
    {
        <div class="row">
            <img class="col-md-2 h-100 d-inline-block" src="@product.Photo" alt="Alternate Text" />
            <div class="col-md-7">
                <h5>@product.Name</h5>
                <p>@(product.Description.Length>150?product.Description.Substring(0,150)+"...":product.Description)</p>
            </div>
            <div class="col-md-3">
                <p>Current price @product.Price</p>
                @Html.ActionLink("Update", "UpdateProductInfo", "Customer", new { product.Id }, null)
                @Html.ActionLink("Delete", "DeleteProductInfo", "Customer", new { product.Id }, null)
                @Html.ActionLink("Change photo", "AddProductPhoto", "Customer", new { product.Id }, null)
            </div>
        </div>

    }
</div>
<ul>
    @foreach (var product in Model.ProductsToSell.Where(p => p.IsAuction != "auction"))
    {
        <li>@product.Name @Html.ActionLink("Update", "UpdateProductInfo", "Customer", new { product.Id }, null)@Html.ActionLink("Delete", "DeleteProductInfo", "Customer", new { product.Id }, null)</li>
    }
</ul>
