@model WPHW3.Models.AdminViewModel
@using WPHW3.Helpers
@{
    ViewBag.Title = "AdminMaster";
}

<h2>Welcome @Model.CurrentUser.FullName</h2>

@Ajax.ActionLink("Log out", "LogOut", new AjaxOptions { })

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
    Create new doctor account
</button>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLongTitle">Create doctor account</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="CreateDoctor" method="post">
                    <div class="container">
                        <label class="col-xs-10 col-sm-7 col-md-2">Login</label>
                        <input type="text" name="username" class="col-xs-10 col-sm-7 col-md-3" />
                    </div>
                    <div class="container">
                        <label class="col-xs-10 col-sm-7 col-md-2">Password</label>
                        <input class="col-xs-10 col-sm-7 col-md-3" type="password" name="password" />
                    </div>
                    <div class="container">
                        <label class="col-xs-10 col-sm-7 col-md-2">Fullname</label>
                        <input class="col-xs-10 col-sm-7 col-md-3" type="text" name="fullname" />
                    </div>
                    <div class="container">
                        <label class="col-xs-10 col-sm-7 col-md-2">Description</label>
                        <input class="col-xs-10 col-sm-7 col-md-3" type="text" name="description" />
                    </div>
                    <input type="submit" name="submitButton" value="Create" />
                </form>
            </div>
        </div>
    </div>
</div>

<h3>Doctors</h3>
<form action="SubmitDoctorsFilter" method="post">
    <label>Filters</label>
    <select name="AnyPatients">
        <option>none</option>
        <option>with patients</option>
        <option>without patients</option>
    </select>
    <input type="submit" value="submit" />
</form>


@using (Ajax.BeginForm("SubmitDoctorNameFilter", new AjaxOptions { }))
{
    <input type="text" name="DoctorName">
    <input type="submit" value="Find">
}
@if (Model.Doctors.Any())
{
    <div>
        @foreach (var doctor in Model.Doctors)
        {
            <h4>@doctor.FullName</h4>
            <p>@doctor.Description</p>
        }
        <div class="btn-group">
            @Html.PageLinks(Model.DoctorsPageInfo, x => Url.Action("AdminMaster", new { DoctorsPageNumber = x, UsersPageNumber = Model.UsersPageInfo.PageNumber, AnyPatients = Model.doctorsFilterInfo.AnyPatients, AnySessions = Model.usersFilterInfo.AnySessions }))
        </div>
    </div>
}
else
{
    <div class="alert alert-info">
        Doctors list is empty
    </div>
}
<h3>All users</h3>
<form action="SubmitUsersFilter" method="post">
    <label>Filters</label>
    <select name="AnySessions">
        <option>none</option>
        <option>with sessions</option>
        <option>without sessions</option>
    </select>
    <input type="submit" value="submit" />
</form>

@if (Model.Users.Any())
{
    <div>
        @foreach (var user in Model.Users)
        {
            <h4>@user.FullName</h4>
        }
        <div class="btn-group">
            @Html.PageLinks(Model.UsersPageInfo, x => Url.Action("AdminMaster", new { UsersPageNumber = x, DoctorsPageNumber = Model.DoctorsPageInfo.PageNumber, AnyPatients = Model.doctorsFilterInfo.AnyPatients, AnySessions = Model.usersFilterInfo.AnySessions }))
        </div>
    </div>
}
else
{
    <div class="alert alert-info">
        Users list is empty
    </div>

}