@model WPHW6.Models.Quest

@{
    ViewBag.Title = "Details";
}
<div class="container">
    <div class="col-md-12" style="background-image:url(@Model.Logo); text-align:center; height:40vh;">
        <h1 style="color:white;">@Model.Name</h1>
    </div>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <h2>Gallery</h2>
                <div class="row">
                    @foreach (var pic in Model.Gallery)
                    {
                        <div class="col-md-6" style="max-height:20vh">
                            <img src="@pic" style="max-width:100%; max-height:100%" />
                        </div>
                    }
                </div>
            </div>
            <div class="col-md-4">
                <h2>Description</h2>
                <p>@Model.Description</p>
            </div>
            <div class="col-md-3" style="padding:15px; font-size:24px">
                <table>
                    <tr>
                        <td>Time:</td>
                        <td>@Model.Time hours</td>
                    </tr>
                    <tr>
                        <td>Players:</td>
                        <td>@Model.MinPlayers-@Model.MaxPlayers</td>
                    </tr>
                    <tr>
                        <td>Address:</td>
                        <td>@Model.Address</td>
                    </tr>
                    <tr>
                        <td>Phone:</td>
                        <td>@Model.Phone</td>
                    </tr>
                    <tr>
                        <td>Email:</td>
                        <td>@Model.Email</td>
                    </tr>
                    <tr>
                        <td>Company:</td>
                        <td>@Model.Company</td>
                    </tr>
                    <tr>
                        <td>Rating:</td>
                        <td>@Model.Rating%</td>
                    </tr>
                    <tr>
                        <td>Fear level:</td>
                        <td>@Model.FearLevel/5</td>
                    </tr>
                    <tr>
                        <td>Difficult level:</td>
                        <td>@Model.DifficultyLevel/5</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-1"></div>
        </div>
</div>

