<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - приложение ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" title="Дополнительные параметры">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Market", "Index", "Customer", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse ">
                <ul class="nav navbar-nav">
                    @*<li>@Html.ActionLink("Cabinet", "PersonalCabinet", "Customer")</li>*@
                    <li>
                        <a href='@Url.Action("PersonalCabinet", "Customer")'>
                            Cabinet&nbsp;<i class="bi bi-person-fill"></i>
                        </a>
                    </li>
                    @*<li>@Html.ActionLink("Basket", "Basket", "Customer")</li>*@
                    <li>
                        <a href='@Url.Action("Basket", "Customer")'>
                            Basket&nbsp;<i class="bi bi-basket-fill"></i>
                        </a>
                    </li>
                    @*<li>@Html.ActionLink("Log out", "LogOut", "Registration")</li>*@
                    <li>
                        <a href='@Url.Action("LogOut", "Registration")'>
                            Log out&nbsp;<i class="bi bi-box-arrow-right"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content" style="min-height: 78vh">
        @RenderBody()

    </div>

    <hr />
    <footer>
        <nav class="navbar fixed-bottom navbar-light bg-light">
            <div class="container-fluid">
                <p>&copy; @DateTime.Now.Year - мое приложение ASP.NET</p>
            </div>
        </nav>
    </footer>

    @RenderSection("scripts", required: false)
</body>
</html>
