@model IEnumerable<Exam1.Models.ProductInfo>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminsLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "ProductCreate")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Photo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalAmount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsAuction)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Category)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Photo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsAuction)
        </td>
        <td>
            @Html.ActionLink("Edit", "ProductEdit", new { id=item.Id }) |
            @Html.ActionLink("Details", "ProductDetails", new { id=item.Id }) |
            @Html.ActionLink("Delete", "ProductDelete", new { id=item.Id })
        </td>
    </tr>
}

</table>
